page-slider {

}
ion-card-header{
    text-align: center;
}
.card1{
    background-color: dodgerblue;
}

.card2{
    background-color:tomato;
}
.card3{
    background-color: green;
}
.card4{
    background-color: grey;
}
.card5{
    background-color: yellow;
}
.card6{
    background-color: pink;
}
.card7{
    background-color:purple;
}
.card8{
    background-color: magenta;
}
.card9{
    background-color: cyan;
}
.card10{
    background-color:rebeccapurple;
}