<!--
  Generated template for the SliderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <!-- Select the correct answer and get a Point! -->
  <ion-slides pager="true" >
    <ion-slide class="card1" >
    <ion-card>
    <ion-card-header>
      Question 1
    </ion-card-header>
    <ion-card-content>
    
      <ion-list radio-group>
    
        <ion-list-header>
            What is 1 + 1 ?
        </ion-list-header>
    
        <ion-item>
          <ion-label>Two (2)</ion-label>
          <ion-radio  value="correct" (ionSelect)= "Tally('correct')"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>A phone brand</ion-label>
          <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
        </ion-item>
    
        <ion-item>
            <ion-label>5</ion-label>
            <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
          </ion-item>
    
        <ion-item>
            <ion-label>0</ion-label>
            <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
          </ion-item>
      </ion-list>
    
    </ion-card-content>
    
    </ion-card>
  </ion-slide>
  
  <ion-slide class="card2">
  <ion-card>
      <ion-card-header>
        Question 2
      </ion-card-header>
      <ion-card-content>
      
         <ion-list radio-group>
      
          <ion-list-header>
             What is 5 + 1 ?
          </ion-list-header>
          <ion-item>
              <ion-label>0</ion-label>
              <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
            </ion-item>
 .
         
          <ion-item>
            <ion-label>Hail Mary</ion-label>
            <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
          </ion-item>
      
          <ion-item>
              <ion-label>6</ion-label>
              <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
            </ion-item>
      
            <ion-item>
                <ion-label>Two (2)</ion-label>
                <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
              </ion-item>
        </ion-list>
       
      </ion-card-content>
      
      </ion-card>
    </ion-slide>

    <ion-slide class="card3">
        <ion-card>
            <ion-card-header>
              Question 3
            </ion-card-header>
            <ion-card-content>
            
               <ion-list radio-group>
            
                <ion-list-header>
                    What goes up but never comes down?
                </ion-list-header>
                <ion-item>
                    <ion-label>Hot Air</ion-label>
                    <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
                  </ion-item>
               
                <ion-item>
                  <ion-label>Temperature</ion-label>
                  <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
                </ion-item>
            
                <ion-item>
                    <ion-label>Age</ion-label>
                    <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
                  </ion-item>
            
                  <ion-item>
                      <ion-label>Birds</ion-label>
                      <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
                    </ion-item>
              </ion-list>
             
            </ion-card-content>
            
            </ion-card>
          </ion-slide>

          <ion-slide class="card4">
              <ion-card>
                  <ion-card-header>
                    Question 4
                  </ion-card-header>
                  <ion-card-content>
                  
                     <ion-list radio-group>
                  
                      <ion-list-header>
                          Why did the chicken cross the road?
                      </ion-list-header>
                      <ion-item>
                          <ion-label>I dont know</ion-label>
                          <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
                        </ion-item>
                     
                        <ion-item>
                          <ion-label text-wrap>No one knows, but the road sure was pissed</ion-label>
                          <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
                        </ion-item>

                      <ion-item>
                        <ion-label>Because he could</ion-label>
                        <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
                      </ion-item>
                  
                        <ion-item>
                            <ion-label text-wrap>Because popeyes was on his side of the street</ion-label>
                            <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
                          </ion-item>
                    </ion-list>
                   
                  </ion-card-content>
                  
                  </ion-card>
                </ion-slide>

                <ion-slide class="card5">
                    <ion-card>
                        <ion-card-header>
                          Question 5
                        </ion-card-header>
                        <ion-card-content>
                        
                           <ion-list radio-group>
                        
                            <ion-list-header text-wrap>
                                Poor people have it. Rich people need it. If you eat it you die. What is it?
                            </ion-list-header>
                            <ion-item>
                                <ion-label>AIDS</ion-label>
                                <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
                              </ion-item>
                           
                            <ion-item>
                              <ion-label>Love</ion-label>
                              <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>Burgers</ion-label>
                              <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
                            </ion-item>   
                          
                                <ion-item>
                                  <ion-label>Nothing</ion-label>
                                  <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
                                </ion-item>
                          </ion-list>
                         
                        </ion-card-content>
                        
                        </ion-card>
                      </ion-slide>

                    <ion-slide class="card6">
                    <ion-card>
                    <ion-card-header>
                    Question 6
                    </ion-card-header>
                    <ion-card-content>

                    <ion-list radio-group>

                    <ion-list-header>
                    What comes down but never goes up?
                    </ion-list-header>
                    <ion-item>
                    <ion-label>The value of black people</ion-label>
                    <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>My Expectations</ion-label>
                    <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>Rain</ion-label>
                    <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>Nothing</ion-label>
                    <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
                    </ion-item>
                    </ion-list>

                    </ion-card-content>

                    </ion-card>
                    </ion-slide>

                    <ion-slide class="card7">
                    <ion-card>
                    <ion-card-header>
                    Question 7
                    </ion-card-header>
                    <ion-card-content>

                    <ion-list radio-group>

                    <ion-list-header text-wrap>
                    If i drink, i die. If i eat, im fine. What am I?
                    </ion-list-header>
                    <ion-item>
                      <ion-label>Fire</ion-label>
                      <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
                      </ion-item>

                    <ion-item>
                    <ion-label>A Fish</ion-label>
                    <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>Mythical Creatures</ion-label>
                    <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>No clue</ion-label>
                    <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
                    </ion-item>
                    </ion-list>

                    </ion-card-content>

                    </ion-card>
                    </ion-slide>

                    <ion-slide class="card8">
                    <ion-card>
                    <ion-card-header>
                    Question 8
                    </ion-card-header>
                    <ion-card-content>

                    <ion-list radio-group>

                    <ion-list-header>
                    Does one choose to be single?
                    </ion-list-header>
                    <ion-item>
                    <ion-label>Its my choice</ion-label>
                    <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>Yes</ion-label>
                    <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>No</ion-label>
                    <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>This is a trick question</ion-label>
                    <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
                    </ion-item>
                    </ion-list>

                    </ion-card-content>

                    </ion-card>
                    </ion-slide>

                    <ion-slide class="card9">
                    <ion-card>
                    <ion-card-header>
                    Question 9
                    </ion-card-header>
                    <ion-card-content>

                    <ion-list radio-group>

                    <ion-list-header>
                   What can you catch but not throw?
                    </ion-list-header>
                    <ion-item>
                    <ion-label>AIDS</ion-label>
                    <ion-radio value="wrongest" (ionSelect) = "Tally('wrongest')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>A Cold</ion-label>
                    <ion-radio value="wrong" (ionSelect) = "Tally('wrong')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>Feelings</ion-label>
                    <ion-radio value="correct" (ionSelect) = "Tally('correct')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>Nothing</ion-label>
                    <ion-radio value="wronger" (ionSelect) = "Tally('wronger')"></ion-radio>
                    </ion-item>
                    </ion-list>
                                      
                    </ion-card-content>

                    </ion-card>
                    </ion-slide>

                    <ion-slide class="card10">
                    <ion-card>
                    <ion-card-header>
                    Question 10
                    </ion-card-header>
                    <ion-card-content>

                    <ion-list radio-group>

                    <ion-list-header>
                    How many month have 28 days?
                    </ion-list-header>
                    <ion-item>
                    <ion-label>None</ion-label>
                    <ion-radio value="wrongest" (ionSelect) = "FinalScore('wrongest')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>1 (Feburary)</ion-label>
                    <ion-radio value="wrong" (ionSelect) = "FinalScore('wrong')"></ion-radio>
                    </ion-item>

                    <ion-item>
                    <ion-label>12 months</ion-label>
                    <ion-radio value="correct" (ionSelect) = "FinalScore('correct')"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>2 months</ion-label>
                      <ion-radio value="wronger" (ionSelect) = "FinalScore('wronger')"></ion-radio>
                    </ion-item>
                    </ion-list>

                    </ion-card-content>

                    </ion-card>
                    </ion-slide> 
                                                    
  </ion-slides>
  </ion-content>
