<ion-header>
  <ion-navbar>
    <ion-title>
     Quiz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Select the correct answer and get a Point! -->
  Display result here
<!-- <ion-card>
<ion-card-header>
  Question 1
</ion-card-header>
<ion-card-content>

   <ion-list radio-group>

    <ion-list-header>
        What is 1 + 1 ?
    </ion-list-header>

    <ion-item>
      <ion-label>Two (2)</ion-label>
      <ion-radio value="correct"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>A phone brand</ion-label>
      <ion-radio value="wrong"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>5</ion-label>
        <ion-radio value="wronger"></ion-radio>
      </ion-item>

    <ion-item>
        <ion-label>0</ion-label>
        <ion-radio value="wrongest"></ion-radio>
      </ion-item>
  </ion-list>
 
</ion-card-content>

</ion-card>

<ion-card>
    <ion-card-header>
      Question 1
    </ion-card-header>
    <ion-card-content>
    
       <ion-list radio-group>
    
        <ion-list-header>
            What is 1 + 1 ?
        </ion-list-header>
    
        <ion-item>
          <ion-label>Two (2)</ion-label>
          <ion-radio value="correct"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>A phone brand</ion-label>
          <ion-radio value="wrong"></ion-radio>
        </ion-item>
    
        <ion-item>
            <ion-label>5</ion-label>
            <ion-radio value="wronger"></ion-radio>
          </ion-item>
    
        <ion-item>
            <ion-label>0</ion-label>
            <ion-radio value="wrongest"></ion-radio>
          </ion-item>
      </ion-list>
     
    </ion-card-content>
    
    </ion-card> -->
</ion-content>
